# NDSSL Formatter

This notebook takes the raw NDSSL data (located in the shared One Drive folder) and formats so that algorithms such as deepwalk and node2vec may be applied

In [13]:
## imports
import numpy as np
import pandas as pd

## First pass
For now, I'll just grab the actual graph and ignore any extra information.

### Format of "activities-portland-1-v2.dat"

"activities-portland-1-v2.dat" contains the activities performed by each
protoentity in the Portland data set.  The time between activities is
used to travel from activity to activity.
Each line has the following fields:

1. Household Id - Household containing the person
2. Person Id - Id of the person.
3. Activity Id - Id of the activity, numbered sequentially for each household
4. Purpose - The purpose of the activity 
        0 - Home
        1 - Work
        2 - Shop
        3 - Visit
        4 - Social/Recreation
        5 - Other
        6 - Pick up or drop off a passenger
        7 - School
        8 - College
5. Start Time - Time the activity starts, in seconds past midnight
6. Duration  - Duration of the activity, in seconds
7. Location - Id of the location at which the activity takes place
8. SubLocation - Id of the sublocation at which the activity takes place

In [38]:
with open(path + 'contact-portland-1-v2.dat', "r") as ins:
    array = []
    for line in ins:
        array.append(line)
        if len(array) > 50:
            break
array

['2000001 0 2000000 0 39298\n',
 '2000002 0 2000000 0 45898\n',
 '2000002 0 2000001 0 45298\n',
 '2000004 0 2000003 0 50099\n',
 '2000005 0 2000003 0 50099\n',
 '2000005 0 2000004 0 71099\n',
 '2000006 0 2000003 0 50099\n',
 '2000006 0 2000004 0 71099\n',
 '2000006 0 2000005 0 71099\n',
 '2000007 0 2000003 0 50099\n',
 '2000007 0 2000004 0 71099\n',
 '2000007 0 2000005 0 71099\n',
 '2000007 0 2000006 0 71099\n',
 '2000008 0 2000003 0 50099\n',
 '2000008 0 2000004 0 71099\n',
 '2000008 0 2000005 0 71099\n',
 '2000008 0 2000006 0 71099\n',
 '2000008 0 2000007 0 71099\n',
 '2000010 0 2000009 0 43497\n',
 '2000012 0 2000011 0 39299\n',
 '2000013 0 2000011 0 45899\n',
 '2000013 0 2000012 0 45298\n',
 '2000015 0 2000014 0 43199\n',
 '2000017 0 2000016 0 45298\n',
 '2000017 7 2000007 7 5099\n',
 '2000018 0 2000016 0 39299\n',
 '2000018 0 2000017 0 45899\n',
 '2000020 0 2000019 0 86399\n',
 '2000021 0 2000019 0 58499\n',
 '2000021 0 2000020 0 58499\n',
 '2000021 7 2000005 7 5400\n',
 '2000023 0 2000022 0 46799\n',
 '2000024 0 2000022 0 46799\n',
 '2000024 0 2000023 0 46799\n',
 '2000025 0 2000022 0 46799\n',
 '2000025 0 2000023 0 46799\n',
 '2000025 0 2000024 0 65400\n',
 '2000027 0 2000026 0 43379\n',
 '2000028 0 2000026 0 44999\n',
 '2000028 0 2000027 0 46500\n',
 '2000030 0 2000029 0 40200\n',
 '2000031 0 2000029 0 24299\n',
 '2000031 0 2000030 0 21599\n',
 '2000032 0 2000029 0 25199\n',
 '2000032 0 2000030 0 23399\n',
 '2000032 0 2000031 0 27600\n',
 '2000033 0 2000029 0 25199\n',
 '2000033 0 2000030 0 23399\n',
 '2000033 0 2000031 0 27600\n',
 '2000033 0 2000032 0 30599\n',
 '2000034 8 2000012 8 22500\n']

In [9]:
path = '/Users/hartnett/OneDrive - RAND Corporation/Deep Generative Modeling for Networks/Network Data/NDSSL RAW/'
contact_data = np.fromfile(path + 'contact-portland-1-v2.dat')#, dtype=float)

In [31]:
df = pd.read_csv(path + 'contact-portland-1-v2.dat', sep=",", header=None)

In [32]:
df.iloc[0:3]

                           0
0  2000001 0 2000000 0 39298
1  2000002 0 2000000 0 45898
2  2000002 0 2000001 0 45298

In [33]:
df.iloc[0]

0    2000001 0 2000000 0 39298
Name: 0, dtype: object

In [2]:
import numpy as np
np.random.randint(10)

9

In [4]:
def soundifier():
    while True:
        output = np.random.randint(10)
        if output == 9:
            return output

In [8]:
soundifier()

9